interactions:
- request:
    body: '{"operationName": "CountriesQuery", "variables": {}, "query": "query CountriesQuery
      {countries{code name languages{code name } } }"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://countries.trevorblades.com/
  response:
    body:
      string: "{\"data\":{\"countries\":[{\"code\":\"AD\",\"name\":\"Andorra\",\"\
        languages\":[{\"code\":\"ca\",\"name\":\"Catalan\"}]},{\"code\":\"AE\",\"\
        name\":\"United Arab Emirates\",\"languages\":[{\"code\":\"ar\",\"name\":\"\
        Arabic\"}]},{\"code\":\"AF\",\"name\":\"Afghanistan\",\"languages\":[{\"code\"\
        :\"ps\",\"name\":\"Pashto\"},{\"code\":\"uz\",\"name\":\"Uzbek\"},{\"code\"\
        :\"tk\",\"name\":\"Turkmen\"}]},{\"code\":\"AG\",\"name\":\"Antigua and Barbuda\"\
        ,\"languages\":[{\"code\":\"en\",\"name\":\"English\"}]},{\"code\":\"AI\"\
        ,\"name\":\"Anguilla\",\"languages\":[{\"code\":\"en\",\"name\":\"English\"\
        }]},{\"code\":\"AL\",\"name\"[...]
